*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    background-image: url(../images/fondo-colorido-modelo-huellas-pata-perro-o-gato_1017-30662-removebg-preview.png)
}

header{
    min-height: 15vh;
    background-color: burlywood;
    background-image: url(../images/fondo-colorido-modelo-huellas-pata-perro-o-gato_1017-30662-removebg-preview.png);
}

main{
    min-height: 80vh;
    background-color:white;
    object-fit: contain;
    background-image: url(../images/fondo-colorido-modelo-huellas-pata-perro-o-gato_1017-30662-removebg-preview.png);
    
}

.navbar{
    background-color: rgb(160, 124, 78);
}
footer{
    min-height: 5vh;
    background-color: burlywood;
    display: flex;
    gap: .3rem;
}

/* Header  */

.DivHeader{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    color: rgb(255, 255, 255);
}

.imgHeader{
    height: 4rem;
}
@media (min-width: 320px) and (max-width : 500px){
    .imgHeader{
        height: 2rem;
    }
}

/* Main  */

.carousel img{
    height: 50vh;
    object-fit: cover;
}

.img1{
    object-position: 50%;
}
.img2{
    object-position: 20% 55%;
}
.img3{
    object-fit: cover;
    object-position: 20% 35%;
}
.img4{
    object-position: 20% 35%;
}


.historia{
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px  rgb(0, 0, 0);
    font-size: 1.2em;
    background-color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
}

.li>a{
    color: white;
    text-decoration: none;
    text-transform: none;
}

#nav{
    border:1px solid  black;
}

a>img{
    height: 2rem;
}


.bodyContacto {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    max-width: 90%;
    box-sizing: border-box;
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  @keyframes fadeInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .form-input:focus {
    border-color: #007bff;
  }
  
  .form-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff006a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .form-button-alt {
    background-color: #55c4b4;
  }
  
  .form-button-alt:hover {
    background-color: #4aa69e;
  }

  .map{
    border-radius: 15px;
  }